**Загрузка бибиотек**

In [1]:
from sklearn.model_selection import cross_val_score, train_test_split
from IPython.display import SVG, display, HTML
from sklearn import tree

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

**Загрузка датасета (тренировочного и тестового)**

In [5]:
data_train = pd.read_csv("dogs_n_cats.csv")
data_train

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

**Обработка данных тренировочных**

In [6]:
X = data_train.drop(["Длина", "Высота", "Вид"], axis=1)
y = data_train["Вид"]

**Деление тренировочных данных**

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

**Обучение**

In [8]:
data = tree.DecisionTreeClassifier(criterion='entropy', max_depth=15)
data.fit(X_train, y_train)
data.score(X_train, y_train)

0.9731343283582089

In [9]:
data.score(X_test, y_test)

0.9848484848484849

**Чтение данных для предсказания**

In [11]:
data_test = pd.read_json("dogs_n_cats(train_data).txt")
data_test

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      26    31.2         1        1                   0
1      25    30.0         1        1                   0
2      16    19.2         1        1                   0
3      28    33.6         1        1                   0
4      26    31.2         1        1                   0
..    ...     ...       ...      ...                 ...
95     14     5.6         1        0                   1
96      8     3.2         1        0                   1
97     14     5.6         1        0                   1
98      8     3.2         1        0                   1
99      7     2.8         1        0                   1

[100 rows x 5 columns]

**Подготовка тестовых данных**

In [12]:
X1_test = data_test.drop(["Длина", "Высота"], axis=1)

**Предсказание**

*Определение количества характеритик похожих на собак в тестовой выборке*

In [13]:
y1_test = data.predict(X1_test)
res = y1_test[y1_test == 'собачка']
pd.Series(res).count()

45